{% extends "layout.html" %}
{% block title %}SVwho{% endblock %}
{% block content %}
<div class="container-fluid">   
    <div class="d-flex align-items-center justify-content-center"> 
        <div class="response animate">
            <h1>Welcome to SVwho!</h1>
            <p>The revolutionary search engine that allows you to figure out who that familiar looking actor is in your favorite episode of <strong>Law & Order: SVU</strong>...</p>
            <a href="./actor"><button>Search by Actor</button></a>
            <a href="./episode"><button>Search by Episode</button></a>
        </div>
    </div>
</div>
{% endblock %}